body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: sans-serif;
}
